<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

     <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">О нас</h1>
                    <p class="lead section-lead">Свяжитесь со мной для получения доступа.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Aleksandr Kurlov 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}