<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
    <title>{{ title }} - owlme</title>
    {% else %}
    <title>OwlMe</title>
    {% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('.static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ url_for('news') }}">
                        Owlme
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('user', nickname=g.user.nickname) }}">Моя страница</a>
                </li>
                <li>
                    <a href="#">Найти потаника</a>
                </li>
                <li>
                    <a href="#">Карта</a>
                </li>
                <li>
                    <a href="{{ url_for('news') }}">Новости</a>
                </li>
                <hr>
                <li>
                    <a href="#">Настройки</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Выйти</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {{ messages }}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
