{% extends "base.html" %}
{% block content %}


    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <a href="/login" class="btn btn-lg btn-success">Войти</a>
    </header>
     <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Привет, потаник!</h1>
                    <p class="lead section-lead">Тут ты найдёшь других потаников, сможешь завести новых друзей или просто договориться о том, чтоб тебя встретили в другом городе.</p>
                    <p class="section-paragraph">Чтобы получить доступ к сайту, необходимо связаться с администрацией.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Aleksandr Kurlov 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}