<!-- extend core layout -->
{% extends "core.html" %}

{% block content %}
    <form style="display: inline;" action="{{ url_for('news') }}" method="post" name="news">
        {{ form.hidden_tag() }}{{ form.text(cols=32, rows=4) }}
        <input type="submit" value="Написать">
    </form>
    <hr>
    {% if posts %}
        {% for post in posts %}
            <table>
                <tr valign="top">
                    {% if post.author.avatar(50) %}
                    <td><img src="{{ post.author.avatar(50) }}"></td><td><i>{{ post.author.nickname }} says:</i><br>{{ post.body }}</td>
                    {% else %}
                    <td><img src="{{ url_for('.static', filename='images/default_avatar_50.png') }}"></td><td><i>{{ post.author.nickname }} says:</i><br>{{ post.body }}</td>
                    {% endif %}
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}