<!-- extend core layout -->
{% extends "core.html" %}

{% block content %}
    <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">
        {{ g.search_form.hidden_tag() }}{{ g.search_form.text(size=20) }}
        <input type="submit" value="Поиск">
    </form>
    <hr>
    {% if results %}
        {% for result in results %}
            <table>
                <tr valign="top">
                    {% if result.avatar(50) %}
                    <td><a href="{{ url_for('user', nickname=result.nickname) }}"> <img src="{{ result.avatar(50) }}">{{ result.nickname }}</a></td>
                    {% else %}
                    <td><img src="{{ url_for('.static', filename='images/default_avatar_50.png') }}"></td><td><i>{{ result.nickname }}</i></td>
                    {% endif %}
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}